body {
  width: 480px;
  line-height: 1.5em;
  font-size: 18px;
  background-color: rgb(8, 17, 21);
  background-image: url('enhance3.jpg');
  background-size: 480px 600px;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}
h1 {
  margin-top: 42px;
  font-size: 18px;
  top: 0;
  height: 0;
  text-align: center;
}
a {
  color: yellow;
}
.input_area {
  margin-top: 292px;
  position: relative;
  height: 50px;
}
.result_area {
  color: white;
  padding: 10px;
  background: rgb(8, 17, 21);
}
label.input {
  width: 160px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}
label.input_plus {
  width: 160px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  font-size: 50px;
}
.plus {
  position:absolute;
  font-size: 24px;
  width: 60px;
  height: 40px;
  background: transparent;
}
#plus {
  top: -3px;
  left: 150px;
  color: white;
}
#plus_target {
  top: -3px;
  left: 318px;
  color: #0f9;
}
input[type="button"] {
  font-size: 20px;
  width:100%;
  height: 50px;
  display: inline-block;
  border: solid gray 1px;
  border-radius: 2px;
  margin: 3px 0;
}
input[type="text"] {
  font-size: 40px;
  border: solid gray 1px;
  border-radius: 2px;
  height: 40px;
  width: 100px;
  text-align: right;
}
input[type="radio"] {
  margin: 20px 10px;
}
.log_count {
  display: inline-block;
  width: 100px;
}
.author {
  margin: 15px 0;
}
#simulation_type {
  position: absolute;
  top: 70px;
  left: 155px;
  width: 180px;
  color: white;
}
img#run {
  width: 180px;
}
.ok_button {
  display: inline-block;
  text-align: center;
  width: 140px;
  border: solid #222 1px;
  border-radius: 1px;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  background-image: -webkit-gradient(
     linear
    ,left top
    ,left bottom
    ,from(rgb(62, 97, 136))
    ,color-stop(0.49, rgb(51, 87, 126))
    ,color-stop(0.50, rgb(39, 75, 115))
    ,to(rgb(25, 62, 103))
  );
}
table#result {
  width: 90%;
  margin: auto;
  display: none;
}
table#result th {
  text-align: left;
  line-height: 1.3em;
}
table#result th, table#result td {
  border: #888 1px solid;
  padding: 2px;
  font-size: 14px;
}
#popup_window_base {
  display: none;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 110%;
  position: absolute;
  z-index: 1;
  top: -42px;
  left: 0;
}
#popup_window {
  position: absolute;
  width: 450px;
  left: 15px;
  top: 50px;
  background: rgba(0,0,0,0.7);
  z-index: 10;
  border: solid #999 1px;
  padding-bottom: 10px;
}
.popup_window_title {
  border-bottom: solid #999 1px;
  padding: 3px;
  text-align: center;
}
.popup_window_content {
  padding: 3px;
  min-height: 450px;
}
#close_popup_window {
}
input.show_details {
  width: 100px;
  height: 30px;
  font-size: 14px;
}
#system_message {
  background: #333;
  border-radius: 5px;
}
.annotation {
  width: 90%;
  margin: auto;
  font-size: 12px;
  line-height: 1.2em;
}
table.result_summary {
  width: 90%;
  margin: auto;
}
table.result_summary td, table.result_summary th {
  border-top: #777 solid 1px;
  padding: 10px;
}
table.result_summary th {
  width: 70%;
  text-align: left;
  font-size: 22px;
}
table.result_summary td {
  text-align: right;
  font-size: 22px;
}
table.result_summary td.unit {
  width: 5%;
}
tr.result_summary_header th {
  border-top: #777 solid 0px;
  font-weight: bold;
  font-size: 18px;
  color: #9cf;
  text-align: center;
}

/*
.circle_button {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: solid white 1px;
  color: white;
  line-height: 30px;
  cursor: pointer;
}
.circle_button:hover {
  background-color: rgba(255,255,255,0.2);
}
*/

.circle_button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border:1px solid #7eb9d0;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  font-size:12px;
  text-decoration:none; 
  display:inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  text-align: center;
  color: #FFFFFF;
  background-color: #a7cfdf; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
  position: relative;
}

.circle_button:hover{
  border:1px solid #5ca6c4;
  background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
  background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
  background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
  background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
  background-image: -o-linear-gradient(top, #82bbd1, #193b61);
  background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
}

.balloon {
  width: 200px;
  border-radius: 5px;
  background: white;
  border: solid gray 1px;
  color: black;
}
#balloon-1-top {
	color: #19283C;
  position: absolute;
  top: 40px;
  right: 0px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
	display: inline-block;
	padding: 0 15px;
	width: auto;
	min-width: 115px;
	height: 40px;
	line-height: 32px;
	text-align: center;
	background: #F6F6F6;
	border: 3px solid #19283C;
	z-index: 0;
}
#balloon-1-top:before {
	content: "";
	position: absolute;
	top: -8px; left: 50%;
	margin-left: -9px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 9px 9px 9px;
	border-color: transparent transparent #F6F6F6 transparent;
	z-index: 0;
}
#balloon-1-top:after {
	content: "";
	position: absolute;
	top: -12px; left: 50%;
	margin-left: -10px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #19283C transparent;
	z-index: -1;
}
#explain {
  position: absolute;
  right: 35px;
}
.settings {
  width: 90%;
  margin: 10px auto;
  border: solid gray 1px;
  display: none;
}
.settings_title {
  padding: 5px;
  border-bottom: solid gray 1px;
}
.settings_content {
  padding: 5px;
}
.settings_content input[type="text"] {
  width: 200px;
}
.is_success {
  margin: 3px;
}
.is_success_true {
  color: #9f9;
}
.is_success_false {
  color: #f99;
}
.is_success.marble {
  border: solid yellow 1px;
}
.select_default {
  font-size: 24px;
  background: white;
  width: 60px;
  height: 40px;
}
table.settings_table {
  width: 100%;
}
table.settings_table td {
  padding: 5px;
}
table.settings_table th {
  text-align: right;
}
table.overenchant_data {
  width: 90%;
  margin: auto;
}
table.overenchant_data th, table.overenchant_data td {
  width: 15%;
  text-align: left;
  line-height: 1.5em;
  font-size: 12px;
  border: solid #aaa 1px;
  padding: 2px;
}
.rarity {
  font-style: italic;
  font-family: android-serif, serif;
}
.rarity.ur {
  color: rgb(240, 146, 49);
}
.rarity.sr {
  color: rgb(177, 91, 254);
}
.rarity.hr {
  color: rgb(34, 208, 208);
}
.rarity.r {
  color: rgb(114, 159, 35);
}
.rarity.hn {
  color: rgb(111, 142, 172);
}
.rarity.n {
  color: rgb(106, 106, 106);
}
table.rarity_6_stage_ver {
  width: 90%;
  margin: auto;
}
table.rarity_6_stage_ver td, table.rarity_6_stage_ver th {
  border: solid gray 1px;
  border-collapse: collapse;
  width: 25%;
  vertical-align: middle;
  padding: 5px;
}
table.rarity_6_stage_ver td {
  text-align: center;
}
table.rarity_6_stage_ver th {
  text-align: center;
}
table.rarity_6_stage_ver .unit {
  font-size: 12px;
}
table.rarity_6_stage_ver .rarity {
  font-size: 24px;
  text-align: center;
}
