doctype html
html lang="ja"
  meta name="viewport" content="width=480"
  head
    title リネレボ強化シミュレーター
    script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
    script src="simulator.js"
    link rel='stylesheet' href='reset.css' type='text/css' media='all'
    link rel='stylesheet' href='index.css?ver=1' type='text/css' media='all'
  body
    /h1 リネレボ強化シミュレーター
    .input_area
      input#plus.plus type="text" value="0"
      input#plus_target.plus type="text" value="0"
      img#run src="ok_button.png"
      /div
        label.input
          |種類:
        label for="weapon"
          |武器
        input#weapon type="radio" name="item_type" value="武器" checked="checked"
        |　
        label for="armor"
          |防具
        input#armor  type="radio" name="item_type" value="防具"
      div style="display:none;"
        label.input
          |スクロール枚数:
        input#scroll_num type="text" value="0"
        |枚
        /input#run type="button" value="実行"
    .result_area
    .author
      |作成者: hedachi@エルモアサーバー
      |　
      a href="https://twitter.com/hedachi"
        |twitter
    img style="width:100%;" src="IMG_0144.PNG"
    .author
      |無課金での効率的なプレイを追求しています。
      br
      |21日目、Lv69で戦闘力300,000超えを達成！
