body {
  line-height: 1.5em;
  font-size: 18px;
  background-color: rgb(8, 17, 21);
  background-image: url('enhance.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
h1 {
  font-size: 26px;
}
.input_area {
  margin-top: 286px;
  position: relative;
  height: 200px;
}
.result_area {
  color: white;
  padding: 10px;
  background: rgb(8, 17, 21);
}
label.input {
  width: 160px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}
label.input_plus {
  width: 160px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  font-size: 50px;
}
input.plus[type="text"] {
  position:absolute;
  font-size: 30px;
  width: 50px;
  height: 30px;
  background: black;
}
input#plus {
  top: 0;
  left: 130px;
  color: white;
}
input#plus_target {
  top: 0;
  left: 250px;
  color: green;
}
input[type="button"] {
  font-size: 20px;
  width:100%;
  height: 50px;
  display: inline-block;
  border: solid gray 1px;
  border-radius: 2px;
  margin: 3px 0;
}
input[type="text"] {
  font-size: 40px;
  border: solid gray 1px;
  border-radius: 2px;
  height: 50px;
  width: 100px;
  text-align: right;
}
input[type="radio"] {
  margin: 20px 10px;
}
.log_count {
  display: inline-block;
  width: 100px;
}
.author {
  margin: 15px 0;
  font-size: 12px;
}
img#run {
  position: absolute;
  top: 60px;
  left: 120px;
  width: 180px;
}
